.container {
    height: 100%;
    display: flex;
    position: sticky;
    flex-direction: column;
    gap: 50px;
    width: fit-content;
}

.menuItem {
    list-style: none;
    display: flex;
    flex-direction: column;
}


.user{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.userImage{
   border-radius: 50%;
    margin-bottom: 20px;
}

.username {
margin-bottom: 10px;
}

.logout {
    padding: 10px 20px;
    display: flex;
    gap: 10px;

}
