.container {
    background-color: var(--bgSoft);
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex:1;
    min-height: 100px;
    border-radius: 10px;
    padding: 10px;
}

.container:hover {
   filter: brightness(1.5);
}


.icon {
    width: 20px;
}

.number {
    font-size: 18px;
}

.text {
    font-size: 14px;
}
