.container {
    padding: 20px;
    display: flex;
    gap: 30px;
    min-width: fit-content;
    width: 100%;
    align-items: center;

}

.container:hover, .active {
    background-color: var(--bg);
}
